<!--  --><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Тестовое задание</title>
    <link type="text/css" rel="stylesheet" href="static/style.css" />
    <script type="text/javascript" src="static/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="static/vis.js"></script>
    <script type="text/javascript" src="static/interface.js"></script>
</head>
<body>
<div id="graph" align="center"></div>

<div id="form">
    <form id="form_data" enctype="multipart/form-data" method="post">
        <div>
            <label for="image_uploads">Выберете файлы .xls, .xlsx</label>
            <input type="file" id="image_uploads" name="image_uploads" accept=".xls, .xlsx">
        </div>
        <div class="preview">
            <p>Файл не выбран</p>
        </div>
    </form>
</div>
<div id="history">
    <p id="hist" align="center">История загрузки: (загружено {{ table|length }}) </p>
    <ul>
        {% for elem in table %}
            <li id="{{elem[0]}}">{{ elem[1] }} {{ elem[2] }}</li>
        {% endfor %}
    </ul>
</div>
</body>
</html>

